rews-op/src/main/resources/wsdl/real-estate.1.0.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="urn:com:mist:rews:services:xsd:realestate"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="RealEstateService"
                  targetNamespace="urn:com:mist:rews:services:wsdl:RealEstateService"
                  xmlns:impl="urn:com:mist:rews:services:wsdl:RealEstateService"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        >
    <wsdl:documentation>Version: 1.0</wsdl:documentation>

    <wsdl:import namespace="urn:com:mist:rews:services:wsdl:RealEstateService"
                 location="real-estate-Policy-1.0.wsdl"></wsdl:import>

    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="urn:com:mist:rews:services:xsd:realestate"
                        schemaLocation="schema/real-estate.1.0.xsd">
            </xsd:import>
        </xsd:schema>
    </wsdl:types>

    <!-- ListEstates -->
    <wsdl:message name="ListEstatesMessage">
        <wsdl:part name="ListEstates" element="tns:ListEstates"/>
    </wsdl:message>
    <wsdl:message name="ListEstatesResponseMessage">
        <wsdl:part name="ListEstatesResponse" element="tns:ListEstatesResponse"/>
    </wsdl:message>

    <!-- RealEstateDetailedInformation -->
    <wsdl:message name="RealEstateDetailedInformationMessage">
        <wsdl:part name="RealEstateDetailedInformation" element="tns:RealEstateDetailedInformation"/>
    </wsdl:message>
    <wsdl:message name="RealEstateDetailedInformationResponseMessage">
        <wsdl:part name="RealEstateDetailedInformationResponse" element="tns:RealEstateDetailedInformationResponse"/>
    </wsdl:message>

    <!-- RegisterRealEstate -->
    <wsdl:message name="RegisterRealEstateMessage">
        <wsdl:part name="RegisterRealEstate" element="tns:RegisterRealEstate"/>
    </wsdl:message>
    <wsdl:message name="RegisterRealEstateResponseMessage">
        <wsdl:part name="RegisterRealEstateResponse" element="tns:RegisterRealEstateResponse"/>
    </wsdl:message>

    <!-- UnregisterRealEstate -->
    <wsdl:message name="UnregisterRealEstateMessage">
        <wsdl:part name="UnregisterRealEstate" element="tns:UnregisterRealEstate"/>
    </wsdl:message>
    <wsdl:message name="UnregisterRealEstateResponseMessage">
        <wsdl:part name="UnregisterRealEstateResponse" element="tns:UnregisterRealEstateResponse"/>
    </wsdl:message>
    
    <!-- TransferRealEstate -->
    <wsdl:message name="TransferRealEstateMessage">
        <wsdl:part name="TransferRealEstate" element="tns:TransferRealEstate"/>
    </wsdl:message>
    <wsdl:message name="TransferRealEstateResponseMessage">
        <wsdl:part name="TransferRealEstateResponse" element="tns:TransferRealEstateResponse"/>
    </wsdl:message>
    
    <!-- UpdateRealEstate -->
    <wsdl:message name="UpdateRealEstateMessage">
        <wsdl:part name="UpdateRealEstate" element="tns:UpdateRealEstate"/>
    </wsdl:message>
    <wsdl:message name="UpdateRealEstateResponseMessage">
        <wsdl:part name="UpdateRealEstateResponse" element="tns:UpdateRealEstateResponse"/>
    </wsdl:message>


    <!-- Port types -->
    <wsdl:portType name="NoAuthRealEstatesServicesPortType">
        <wsdl:operation name="ListEstatesOperation">
            <wsdl:input message="impl:ListEstatesMessage"/>
            <wsdl:output message="impl:ListEstatesResponseMessage"/>
        </wsdl:operation>
        <wsdl:operation name="RealEstateDetailedInformationOperation">
            <wsdl:input message="impl:RealEstateDetailedInformationMessage"/>
            <wsdl:output message="impl:RealEstateDetailedInformationResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="AuthRealEstatesServicesPortType">
        <wsdl:operation name="RegisterRealEstateOperation">
            <wsdl:input message="impl:RegisterRealEstateMessage"/>
            <wsdl:output message="impl:RegisterRealEstateResponseMessage"/>
        </wsdl:operation>
        <wsdl:operation name="UnregisterRealEstateOperation">
            <wsdl:input message="impl:UnregisterRealEstateMessage"/>
            <wsdl:output message="impl:UnregisterRealEstateResponseMessage"/>
        </wsdl:operation>
        <wsdl:operation name="TransferRealEstateOperation">
            <wsdl:input message="impl:TransferRealEstateMessage"/>
            <wsdl:output message="impl:TransferRealEstateResponseMessage"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateRealEstateOperation">
            <wsdl:input message="impl:UpdateRealEstateMessage"/>
            <wsdl:output message="impl:UpdateRealEstateResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- Bindings -->
    <wsdl:binding name="NoAuthRealEstatesServiceSoap" type="impl:NoAuthRealEstatesServicesPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ListEstatesOperation">
            <soap:operation
                    soapAction="urn:com:mist:rews:operations:ListEstatesOperation"
                    style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RealEstateDetailedInformationOperation">
            <soap:operation
                    soapAction="urn:com:mist:rews:operations:RealEstateDetailedInformationOperation"
                    style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AuthRealEstatesServiceSoap" type="impl:AuthRealEstatesServicesPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RegisterRealEstateOperation">
            <soap:operation
                    soapAction="urn:com:mist:rews:operations:RegisterRealEstateOperation"
                    style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UnregisterRealEstateOperation">
            <soap:operation
                    soapAction="urn:com:mist:rews:operations:UnregisterRealEstateOperation"
                    style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="TransferRealEstateOperation">
            <soap:operation
                    soapAction="urn:com:mist:rews:operations:TransferRealEstateOperation"
                    style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateRealEstateOperation">
            <soap:operation
                    soapAction="urn:com:mist:rews:operations:UpdateRealEstateOperation"
                    style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- Services -->
    <wsdl:service name="NoAuthRealEstateService">
        <wsdl:port name="NoAuthRealEstateSOAP" binding="impl:NoAuthRealEstatesServiceSoap">
            <soap:address location="http://x.x.x.x:8080/services/RealEstateService" />
        </wsdl:port>
    </wsdl:service>
    <wsdl:service name="AuthRealEstateService">
        <wsdl:documentation>
            Authentication is not yet implemented, and currently has none.
        </wsdl:documentation>
        <wsdl:port name="AuthRealEstateSOAP" binding="impl:AuthRealEstatesServiceSoap">
            <soap:address location="http://x.x.x.x:8080/services/AuthRealEstateService"/>
            <wsp:PolicyReference xmlns:wsp="http://www.w3.org/ns/ws-policy"
                                 URI="#SignAndEncrypt" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
