rews-op/src/main/resources/wsdl/schema/real-estate.1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:com:mist:rews:services:xsd:realestate"
           targetNamespace="urn:com:mist:rews:services:xsd:realestate"
           elementFormDefault="qualified">

    <!-- Request 1 -->
    <xs:complexType name="ListEstates">
        <xs:sequence>
            <xs:element name="Filter" minOccurs="0" type="ListEstatesFilter"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ListEstatesFilter">
        <xs:complexContent>
            <xs:extension base="ListEstatesFilterBase">
                <xs:attribute name="ignoreEmpty" default="false" type="xs:boolean"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ListEstatesFilterBase">
        <xs:sequence>
            <xs:element name="Owner" minOccurs="0" type="PersonOptionalNameOrCode"/>
            <xs:element name="Location" minOccurs="0" type="OptionalLocationType"/>
            <xs:element name="EstateType" minOccurs="0" type="EstateTypeEnumeration"/>
            <xs:element name="Price" minOccurs="0" type="PriceType"/>
            <xs:element name="RegistrationDate" minOccurs="0" type="RegistrationFromToDateType"/>
            <xs:element name="ConstructionDate" minOccurs="0" type="ConstructionFromToDateType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PersonNameAndCode">
        <xs:sequence>
            <xs:element name="Name" type="PersonName"/>
            <xs:element name="PersonCode" type="PersonCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonOptionalNameOrCode">
        <xs:choice>
            <xs:element name="Name" type="OptionalPersonName"/>
            <xs:element name="PersonCode" type="PersonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OptionalPersonName">
        <xs:sequence>
            <xs:element name="FirstName" minOccurs="0" type="xs:string"/>
            <xs:element name="LastName" minOccurs="0" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonName">
        <xs:sequence>
            <xs:element name="FirstName" type="xs:string"/>
            <xs:element name="LastName" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PersonCode">
        <xs:restriction base="xs:integer">
            <xs:pattern value="\d{11}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="OptionalLocationType">
        <xs:sequence>
            <xs:element name="Country" minOccurs="0" type="xs:string"/>
            <xs:element name="City" minOccurs="0" type="xs:string"/>
            <xs:element name="Address" minOccurs="0" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="LocationType">
        <xs:sequence>
            <xs:element name="Country" type="xs:string"/>
            <xs:element name="City" type="xs:string"/>
            <xs:element name="Address" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="EstateTypeEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FLAT"/>
            <xs:enumeration value="HOUSE"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="PriceType">
        <xs:sequence>
            <xs:element name="FromPrice" minOccurs="0" type="xs:positiveInteger"/>
            <xs:element name="ToPrice" minOccurs="0" type="xs:positiveInteger"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RegistrationFromToDateType">
        <xs:complexContent>
            <xs:extension base="FromToDateType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ConstructionFromToDateType">
        <xs:complexContent>
            <xs:extension base="FromToDateType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FromToDateType">
        <xs:sequence>
            <xs:element name="FromDate" minOccurs="0" type="xs:date"/>
            <xs:element name="ToDate" minOccurs="0" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Response 1 -->
    <xs:complexType name="ListEstatesResponse">
        <xs:sequence>
            <xs:element name="RealEstate" minOccurs="0" maxOccurs="unbounded" type="RealEstateType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RealEstateType">
        <xs:sequence>
            <xs:element name="Information" type="RealEstateInformation"/>
            <xs:element name="Details" minOccurs="0" type="RealEstateDetails"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RealEstateInformation">
        <xs:sequence>
            <xs:element name="Id" type="IdentificationNumber"/>
            <xs:element name="Owner" type="PersonNameAndCode"/>
            <xs:element name="Location" type="LocationType"/>
            <xs:element name="EstateType" type="EstateTypeEnumeration"/>
            <xs:element name="Price" type="xs:positiveInteger"/>
            <xs:element name="RegistrationDate" type="xs:date"/>
            <xs:element name="ConstructionDate" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RealEstateDetails">
        <xs:sequence>
            <xs:element name="Condition" minOccurs="0" type="RealEstateCondition"/>
            <xs:element name="Area" minOccurs="0" type="xs:positiveInteger"/>
            <xs:element name="NumberOfRooms" minOccurs="0" type="xs:positiveInteger"/>
            <xs:element name="Floor" minOccurs="0" type="xs:positiveInteger"/>
            <xs:element name="NumberOfFloors" minOccurs="0" type="xs:positiveInteger"/>
            <xs:element name="Description" minOccurs="0" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="RealEstateCondition">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NEW CONSTRUCTION"/>
            <xs:enumeration value="OLD CONSTRUCTION"/>
            <xs:enumeration value="NEEDS REPAIR"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Request 2 -->
    <xs:complexType name="RealEstateDetailedInformation">
        <xs:sequence>
            <xs:element name="Id" type="IdentificationNumber"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Response 2 -->
    <xs:complexType name="RealEstateDetailedInformationResponse">
        <xs:complexContent>
            <xs:extension base="RealEstateType"/>
        </xs:complexContent>
    </xs:complexType>

    <!-- Request 3 -->
    <xs:complexType name="RegisterRealEstate">
        <xs:complexContent>
            <xs:extension base="RealEstateRegistrationType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RealEstateRegistrationType">
        <xs:sequence>
            <xs:element name="Information" type="RealEstateRegistrationInformation"/>
            <xs:element name="Details" minOccurs="0" type="RealEstateDetails"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RealEstateRegistrationInformation">
        <xs:sequence>
            <xs:element name="Owner" type="PersonNameAndCode"/>
            <xs:element name="Location" type="LocationType"/>
            <xs:element name="EstateType" type="EstateTypeEnumeration"/>
            <xs:element name="Price" type="xs:positiveInteger"/>
            <xs:element name="ConstructionDate" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Response 3 -->
    <xs:complexType name="RegisterRealEstateResponse">
        <xs:choice minOccurs="1">
            <xs:element name="Id" type="IdentificationNumber"/>
            <xs:element name="Fault" type="FaultType"/>
        </xs:choice>
    </xs:complexType>

    <xs:simpleType name="IdentificationNumber">
        <xs:restriction base="xs:positiveInteger"/>
    </xs:simpleType>

    <!-- Request 4 -->
    <xs:complexType name="UnregisterRealEstate">
        <xs:sequence>
            <xs:element name="Id" type="IdentificationNumber"/>
            <xs:element name="Owner" type="PersonNameAndCode"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Response 4 -->
    <xs:complexType name="UnregisterRealEstateResponse">
        <xs:sequence>
            <xs:element name="Fault" minOccurs="0" type="FaultType"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Request 5 -->
    <xs:complexType name="TransferRealEstate">
        <xs:sequence>
            <xs:element name="Id" type="IdentificationNumber"/>
            <xs:element name="Owner" type="PersonNameAndCode"/>
            <xs:element name="Beneficiary" type="PersonNameAndCode"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Response 5 -->
    <xs:complexType name="TransferRealEstateResponse">
        <xs:sequence>
            <xs:element name="Fault" minOccurs="0" type="FaultType"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Request 6 -->
    <xs:complexType name="UpdateRealEstate">
        <xs:sequence>
            <xs:element name="Id" type="IdentificationNumber"/>
            <xs:element name="Information" type="RealEstateRegistrationInformation"/>
            <xs:element name="Details" type="RealEstateDetails"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Response 6 -->
    <xs:complexType name="UpdateRealEstateResponse">
        <xs:sequence>
            <xs:element name="Fault" minOccurs="0" type="FaultType"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Faults -->
    <xs:complexType name="FaultType">
        <xs:sequence>
            <xs:element name="ErrorCode" type="xs:positiveInteger"/>
            <xs:element name="ErrorMessage" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Outer elements -->
    <xs:element name="ListEstates" type="ListEstates"/>
    <xs:element name="ListEstatesResponse" type="ListEstatesResponse"/>
    <xs:element name="RealEstateDetailedInformation" type="RealEstateDetailedInformation"/>
    <xs:element name="RealEstateDetailedInformationResponse" type="RealEstateDetailedInformationResponse"/>
    <xs:element name="RegisterRealEstate" type="RegisterRealEstate"/>
    <xs:element name="RegisterRealEstateResponse" type="RegisterRealEstateResponse"/>
    <xs:element name="UnregisterRealEstate" type="UnregisterRealEstate"/>
    <xs:element name="UnregisterRealEstateResponse" type="UnregisterRealEstateResponse"/>
    <xs:element name="TransferRealEstate" type="TransferRealEstate"/>
    <xs:element name="TransferRealEstateResponse" type="TransferRealEstateResponse"/>
    <xs:element name="UpdateRealEstate" type="UpdateRealEstate"/>
    <xs:element name="UpdateRealEstateResponse" type="UpdateRealEstateResponse"/>

</xs:schema>